{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "plugins": ["@poliklot/prettier-plugin-handlebars"],
  "overrides": [
    {
      "files": ["**/*.hbs"],
      "options": {
        "parser": "handlebars",
        "singleQuote": false
      }
    }
  ]
}